/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/mix-manifest.json
/public/fonts
/storage/*.key
/storage/clockwork
/vendor
/coverage
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
